<!-- Validation failure messages -->
<% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |message| %>
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= message %>
        </div>
    <% end %>
<% end %>

<div class="page-header">
  <h3>New Event</h3>
</div>

<% if Location.where({user_id: current_user.id}).count == 0 %>
    <div class="row">
      <div class="col-md-12">
        <h4>
          <strong style="color: red">WARNING:</strong> You have no places saved.
          <a href="/locations/new">Add a new place first.</a>
        </h4>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <form action="/create_event" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Where to?
        </label>
        <%= select_tag(:location_id, options_from_collection_for_select(Location.where({user_id: current_user.id}).order("name ASC"), :id, :name), class: "form-control") %>
      </div>

      <!-- Label and input for start -->
      <div class="form-group">
        <label for="start" class="control-label">
          What time do you normally leave?
        </label>
        <input type="text" id="start" name="start" placeholder="e.g. '6am' or '5:30pm'" class="form-control">
      </div>

      <!-- Label and input for day -->
      <div class="form-group">
        <label for="day" class="control-label">
          What day?
        </label>
        <%= select_tag(:day, options_for_select(@days, @input_day), class: "form-control") %>
      </div>


      <button class="btn btn-success">
        Add
      </button>
      or
      <a href="/events">Cancel</a>
    </form>
  </div>
</div>
